# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Paymob
PAYMOB_API_KEY=
PAYMOB_INTEGRATION_ID=
NEXT_PUBLIC_PAYMOB_PUBLIC_KEY=
PAYMOB_HMAC_SECRET=

# Bunny Stream
BUNNY_STREAM_API_KEY=
BUNNY_STREAM_LIBRARY_ID=
BUNNY_STREAM_TOKEN_KEY=
